<% array = ["A","B","C","D","E","F","G","H"] %>
<table id = "ChessBoard"> 
<% 8.times.each do |number| %> 
	<% if number% 2 ==0 %>  
		<tr> 
			<% 8.times.each do |square| %>  
				<% if square %2 == 0 %> 
					<td class = "white" id = "<%= array[square]%><%= number+1 %>"></td> 
				<% else %> 
					<td class = "black" id = "<%= array[square]%><%= number+1 %>"></td> 
				<%end%> 

			<%end%> 
		<tr> 
	<% else %> 
		<tr> 
			<% 8.times.each do |square| %> 
					<% if square %2 == 0 %> 
						<td class = "black" id = "<%= array[square]%><%= number+1 %>"></td> 
					<% else %> 
						<td class = "white" id = "<%= array[square]%><%= number+1 %>"></td> 
					<%end%> 
			<%end%> 
		</tr> 
	<%end%> 
<%end%> 
</table>
